body {
    background-color: #E3FEF7;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

@media only screen and (min-width: 1024px) {
    body {
      font-size: 1.5rem;
    }
  }

.primary {
    background-color: #213555;
    color: #E3FEF7;
}

.secondary {
    color: #213555;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    border-radius: 10px;
    position: sticky;
    top: 8px;
    z-index: 999;
}

nav a {
    padding: 2%;
    border-radius: 10px;
}

a:hover {
    color: lightgrey;
}

a {
    text-decoration: none;
}

main {
    margin-top: 10px;
}

h1 {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
    h1 {
      font-size: 9rem;
    }
  }

.hero p:first-of-type {
    text-align: left;
    margin: 0 10%;
    padding-left: 2%;
}

.hero p:last-of-type {
    text-align: right;
    margin: 0 10%;
    padding-right: 2%;
}

.aboutMe {
    width: 80%;
    margin: 0 10%;
    border-radius: 10px;
    margin-top: 50px;
}

.aboutMe * {
    position: relative;
    bottom: 40px;
}

.aboutMe img {
    width: 40%;
    border-radius: 50%;
    border: 2vw solid #213555;
    margin: auto;
    display: block;
}

@media only screen and (min-width: 1024px) {
    .aboutMe img {
      width: 25%;
    }
  }

h2 {
    padding: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: -5%;
}

@media only screen and (min-width: 1024px) {
    h2 {
      font-size: 2rem;
    }
  }

p {
    padding: 2%;
}

.resume {
    margin: 0 10%;
}

.projects {
    margin: 0 10%;
}

.row {
    display: flex;
    margin: 40px 10%;
    justify-content: center;
    align-items: center;
}

.individual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 24vw;
    margin: 1vw;
}

.individual img {
    background-color: lightgrey;
    width: 24vw;
    height: 24vw;
}

h3 {
    margin: 8px 8px;
    font-size: 1rem;
}