/* ALL */

    body {
        background-color: #E3FEF7;
        font-family: "Handlee", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }

    @media only screen and (min-width: 1024px) {
        body {
        font-size: 1.5rem;
        }
    }

    .primary {
        background-color: #213555;
        color: #E3FEF7;
    }

    .secondary {
        color: #213555;
    }

    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        margin: 0 10%;
        border-radius: 10px;
        position: sticky;
        top: 8px;
        z-index: 999;
    }

    nav a {
        margin: 8px;
    }

    a:hover {
        color: lightgrey;
    }

    a {
        text-decoration: none;
    }

    .active {
        color: lightgrey;
    }

    main {
        margin-top: 16px;
    }

    h1 {
        text-align: center;
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-size: 2rem;
        margin: 0 0;
    }

    @media only screen and (min-width: 1024px) {
        h1 {
        font-size: 9rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: underline;
        margin: 0 8px;
    }

    @media only screen and (min-width: 1024px) {
        h2 {
        font-size: 2rem;
        }
    }

    h3 {
        font-size: 1.3rem;
        margin: 0 8px;
        margin-bottom: 8px;
    }

    @media only screen and (min-width: 1024px) {
        h3 {
        font-size: 1.8rem;
        }
    }

    h4 {
        font-size: 1rem;
        margin: 0 8px;
        margin-bottom: 8px;
    }

    @media only screen and (min-width: 1024px) {
        h4 {
        font-size: 1.5rem;
        }
    }

    p {
        padding: 0px 8px;
        margin: 0 0;
        margin-bottom: 16px;
    }

    h5 {
        margin: 0 8px;
        font-size: 0.7rem;
        font-weight: 400;
    }

    @media only screen and (min-width: 1024px) {
        h5 {
            font-size: 1rem;
        }
    }

    span {
        font-weight: 400;
    }

    .bold {
        font-weight: bold;
    }

    ul {
        margin: 0 30px;
        padding: 0 0;
        margin-bottom: 16px;
    }

/* INDEX */

    .hero {
        margin-top: 10px;
    }

    .hero p:first-of-type {
        text-align: left;
        margin: 0% 10%;
        padding: 0 8px;
    }

    .hero p:last-of-type {
        text-align: right;
        margin: 0% 10%;
        padding: 0 8px;
    }

    .aboutMe {
        width: 80%;
        margin: 0 10%;
        border-radius: 10px;
        margin-top: 50px;
    }

    @media only screen and (min-width: 1024px) {
        .aboutMe {
            text-align: center;
        }
    }

    .aboutMe * {
        position: relative;
        bottom: 40px;
    }

    .aboutMe img {
        width: 40%;
        border-radius: 50%;
        border: 2vw solid #213555;
        margin: auto;
        display: block;
    }

    @media only screen and (min-width: 1024px) {
        .aboutMe img {
        width: 20%;
        border: 1vw solid #213555;
        }
    }

/* RESUME */

    .resume {
        margin: 0 10%;
    }

/* PROJECTS */

    .projects {
        margin: 0 10%;
        margin-bottom: 25px;
    }

    .row {
        display: flex;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }

    .individual {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 24vw;
        height: 24vw;
        margin: 1vw;
    }

    .individual img {
        background-color: lightgrey;
        width: 24vw;
        height: 24vw;
    }

    .headline {
        width: 24vw;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }