body {
    background-color: #E3FEF7;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
}

.primary {
    background-color: #213555;
    color: #E3FEF7;
}

.secondary {
    color: #213555;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    position: sticky;
    top: 0;
}

nav a {
    padding: 2%;
    text-decoration: none;
    color: #E3FEF7;
}

main {
    margin-top: 10px;
}

h1 {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 8vw;
}

.hero p:first-of-type {
    text-align: left;
    margin-left: 10%;
    padding-left: 2%;
}

.hero p:last-of-type {
    text-align: right;
    margin-right: 10%;
    padding-right: 2%;
}

.aboutMe {
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    margin-top: 50px;
}

.aboutMe * {
    position: relative;
    bottom: 40px;
}

.aboutMe img {
    width: 40%;
    border-radius: 50%;
    border: 10px solid #213555;
    margin: auto;
    display: block;
}

h2 {
    padding: 2%;
    font-size: 4vw;
    font-weight: bold;
}

.aboutMe p {
    padding: 2%;
}